<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.pedalchecka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 위치 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 카메라 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 전화 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- 푸시 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	
	  <queries>
			<package android:name="com.sktelecom.tauth" />
			<package android:name="com.kt.ktauth" />
			<package android:name="com.lguplus.smartotp" />
			<intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="intent" />
      </intent>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="tauthlink" />
      </intent>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="https" />
      </intent>
	    <intent>
	        <action android:name="android.intent.action.MAIN" />
	    </intent>
	  </queries>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme"
      android:largeHeap="true">
      <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBaBiTpEuWcpVeYJyy33v8OvnFzaNJz6RE"/> 
     <!-- You will also only need to add this uses-libray tag --> 
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustPan"
        android:exported="true"
        >
        <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
              
          </intent-filter>
          <intent-filter>
              <data android:host="oauth"
                  android:scheme="kakaoc5c4f79c76267d1389a50dc49dd52020" />
                  <data
        android:host="pedalcheck.com"
        android:scheme="https"/>
          </intent-filter>
          <!-- <intent-filter>
<data
        android:host="pedalcheck.com"
        android:scheme="https"/>
          </intent-filter> -->
        <!-- <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> -->
      </activity>

    </application>
</manifest>
